

 /* Primary Styles
    Author: Come
 */


body {
    font-size: 14px;
}

ul.vertical, ul.horizontal {
    margin: 0; padding: 0; list-style: none; overflow: hidden;
}
ul.horizontal li {
    float: left; margin-right: 10px;
}
ul.horizontal li:last-child {
    margin-right: 0px;
}
h2 {
    margin-bottom: 0.5em;
    color: #666;
}

a {
    color: #8c7b65;
}

label { margin: 2px; }
.container div { margin-bottom: 5px; }
.love { margin:10 0px; padding:3px; text-align:center; background: #eaeaea;}
.hint { font-size:13px; }

/***/

#header {
    height: 20px;
    line-height: 30px;
    font-size: 16px;
    padding: 20px;
    background: #99c8f2;
    margin-bottom: 1em;
}
#header h1 a {
font-weight: bolder;
font-size: 35px;
text-decoration: none;
padding-left: 5px;
color: #004250;
}
#header .menu a {
    padding: 5px 10px;
    color: #004250;
    background: #bcdbf7;
    text-decoration: none;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
#header .menu a:hover {
    color: #678f97;
}
#header .menu a.highlight {
    background: #fff;
}

#footer {
    margin-top: 1.5em;
    margin-bottom: 1em;
    text-align: center;
}

.post {margin-bottom:7px;}
.comment-meta{font-size:.9em;text-align:right;}
.comment-text{font-size:1em;background:#eaeaea;padding:10px;
    -moz-border-radius-topleft:5px;
    -moz-border-radius-topright:5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;}

/* Front page */

#home-cta {
    background-color: #EAEAEA;
    color:#fff;
    padding:15px 40px;
    margin:25px 0 0 0;
    overflow:hidden;
    -moz-border-radius-topleft:5px;
    -moz-border-radius-topright:5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
}

#home-cta .home-img {
    text-align:center;
    margin:0 5px 5px 0;
}

#home-cta p {
    color:#7da7d0;
    font-size:1.3em;
    letter:0.05em;
    line-height:1.7;
    margin-top:5px;
}

.big_button {
    width:240px;
    margin:30px auto 0 auto;
    line-height:2em;
    background: #F04C38;
    text-shadow:-1px -1px 0 #a73426;
    border:0;
}

#home-nav {
    background-color:#e1e1e1;
    height:65px;
    margin:0 0 10px 0;
    padding:5px 0;
    text-align:center;
    -moz-border-radius-bottomright:5px;
    -moz-border-radius-bottomleft:5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
}


span .tweet {
margin: 7px;
}

li .pub{
padding-top:7px;
}
.sub-fold {
    color:#666;
    margin-top: 20px;
}


/* forms.css */
label {font-weight:bold;}
input, textarea, select {margin:2px 0;border:1px solid #bbb;}
input.text:focus, input.title:focus, textarea:focus, select:focus {border:1px solid #666;}
